<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <% include('../includes/navigation.ejs') %>
    <main>
        <% if (blogs.length > 0) { %>
        <div class="grid">
            <% for (let blog of blogs) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%= blog.title %>
                    </h1>
                </header>
                <div class="card__image">
                    <img src="<%= blog.image %>" alt="<%= blog.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= blog.url %></h2>
                </div>
                
                <div class="card__actions">
                    <a href="/admin/edit-blog/<%= blog.id %>?edit=true" class="btn">Edit</a>
                    <form action="/admin/delete-blog" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" value="<%= blog.id %>" name="blogId">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Blogs Found!</h1>
        <% } %>
    </main>
</body>
</html>
